:root {
    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #108DAD;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #808BBC;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
}

@keyframes reverse {
    0% {
        left: 9.4px;
        width: 8px;
    }
    60% {
        left: .6px;
        width: 16px;
    }
    100% {
        left: .6px;
    }
}
    
@keyframes switch {
    0% {
        left: .6px;
    }
    60% {
        left: .6px;
        width: 16px;
    }
    100% {
        left: 9.4px;
        width: 8px;
    }
}

.toggle--checkbox {
    opacity: 0;
}

.toggle--checkbox:focus + .toggle--label {
    outline: solid .6px var(--button-border);
    transition: outline 100ms ease-in;
}

.container--toggle {
    display: grid;
    place-items: center;
    min-height: 12px;
    position: relative;
    grid-area: toggle;
    margin: 4px;
}

/* background */
.toggle--label {
    width: 20px;
    height: 10.8px;
    background: var(--indigo-color);
    border-radius: 20px;
    border: .6px solid var(--indigo-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
    color: var(--indigo-color);
}

.toggle--checkbox:checked + .toggle--label {
    background: var(--blue-color);
    color: var(--blue-color);
    border-color: var(--blue-border);
}

/* sun and moon */
.toggle--checkbox:checked + .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 360ms ease-in;
    background: var(--yellow-background);
    border-color: var(--yellow-border);
}

.toggle--label:before {
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    content: '';
    width: 8px;
    height: 8px;
    border: .6px solid var(--gray-border);
    top: .2px;
    left: .6px;
    position: absolute;
    border-radius: 8px;
    background: white;
}

/* moon dimples */
.toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: '';
    box-shadow: var(--gray-dots) -2.8px 0 0 .2px, var(--gray-dots) -4.4px 2.4px 0 -2px;
    left: 16px;
    top: 2px;
    width: 1.2px;
    height: 1.2px;
    background: transparent;
    border-radius: 50%;
    opacity: 1;
}

.toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 50ms;
    opacity: 0;
}

/* clouds */
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
    width: 1px;
    left: 13px;
    top: 4.4px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
    top: -0.8px;
    left: -1px;
    width: 4px;
    height: 1px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
    top: .6px;
    width: 4px;
    height: 1px;
    left: -2px;
}

/* stars */
.toggle--label-background {
    border-radius: 1px;
    position: relative;
    background: white;
    left: 6.4px;
    width: 1.2px;
    transition: all 150ms ease-in;
    top: 5px;
    height: .8px;
}

.toggle--label-background:before {
    content: '';
    position: absolute;
    width: .8px;
    height: .8px;
    top: -3px;
    border-radius: 1px;
    background: white;
    left: -4px;
    transition: all 150ms ease-in;
}

.toggle--label-background:after {
    content: '';
    position: absolute;
    width: .8px;
    height: .8px;
    left: -4px;
    top: 2px;
    border-radius: 1px;
    background: white;
    transition: all 150ms ease-in;
}