:root {
    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #108DAD;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #808BBC;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
}

@keyframes reverse {
    0% {
        left: 18.8px;
        width: 16px;
    }
    60% {
        left: 1.2px;
        width: 32px;
    }
    100% {
        left: 1.2px;
    }
}
    
@keyframes switch {
    0% {
        left: 1.2px;
    }
    60% {
        left: 1.2px;
        width: 32px;
    }
    100% {
        left: 18.8px;
        width: 16px;
    }
}

.toggle--checkbox {
    opacity: 0;
}

.toggle--checkbox:focus + .toggle--label {
    outline: solid 1.2px var(--button-border);
    transition: outline 100ms ease-in;
}

.container--toggle {
    display: grid;
    place-items: center;
    min-height: 24px;
    position: relative;
    grid-area: toggle;
    margin: 8px;
}

/* background */
.toggle--label {
    width: 40px;
    height: 21.6px;
    background: var(--indigo-color);
    border-radius: 40px;
    border: 1.2px solid var(--indigo-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
    color: var(--indigo-color);
}

.toggle--checkbox:checked + .toggle--label {
    background: var(--blue-color);
    color: var(--blue-color);
    border-color: var(--blue-border);
}

/* sun and moon */
.toggle--checkbox:checked + .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 360ms ease-in;
    background: var(--yellow-background);
    border-color: var(--yellow-border);
}

.toggle--label:before {
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    content: '';
    width: 16px;
    height: 16px;
    border: 1.2px solid var(--gray-border);
    top: .4px;
    left: 1.2px;
    position: absolute;
    border-radius: 16px;
    background: white;
}

/* moon dimples */
.toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: '';
    box-shadow: var(--gray-dots) -5.6px 0 0 .4px, var(--gray-dots) -8.8px 4.8px 0 -4px;
    left: 32px;
    top: 4px;
    width: 2.4px;
    height: 2.4px;
    background: transparent;
    border-radius: 50%;
    opacity: 1;
}

.toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 50ms;
    opacity: 0;
}

/* clouds */
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
    width: 2px;
    left: 26px;
    top: 8.8px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
    top: -1.6px;
    left: -2px;
    width: 8px;
    height: 2px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
    top: 1.2px;
    width: 8px;
    height: 2px;
    left: -4px;
}

/* stars */
.toggle--label-background {
    border-radius: 2px;
    position: relative;
    background: white;
    left: 12.8px;
    width: 2.4px;
    transition: all 150ms ease-in;
    top: 10px;
    height: 1.6px;
}

.toggle--label-background:before {
    content: '';
    position: absolute;
    width: 1.6px;
    height: 1.6px;
    top: -6px;
    border-radius: 2px;
    background: white;
    left: -8px;
    transition: all 150ms ease-in;
}

.toggle--label-background:after {
    content: '';
    position: absolute;
    width: 1.6px;
    height: 1.6px;
    left: -8px;
    top: 4px;
    border-radius: 2px;
    background: white;
    transition: all 150ms ease-in;
}